entrypoint = "index.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 33963
externalPort = 80

[[ports]]
localPort = 40087
externalPort = 3000

[[ports]]
localPort = 41113

[[ports]]
localPort = 43381
externalPort = 3001

[[ports]]
localPort = 44151
externalPort = 3002

[[ports]]
localPort = 44565
externalPort = 3003

[[ports]]
localPort = 46615
externalPort = 4200
